<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <div>
                <input name="post-title" type="text" id="post-title" value="{{post.title}}" />
            </div></br>
            <div>
                <textarea name="post-body" cols="30" rows="10" id="post-body">{{post.post_text}}</textarea>

            </div>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>